.buffer-line {
  display: table-row;
}

html, body{
  height: 100%;
}

#outer-container{
  height: 100%;
  min-height: 100%;
}

#message-pane{
  overflow-y: auto;
  height: 100%;
}

#outer-container .row:first-child{
  height: 90%;
}

.column {
  display: table-cell;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-family: monospace;
}

.mid-column {
  border-left: 1px solid gray;
}

.message {
  white-space: pre-wrap;
  word-break: break-all;
}

.date {
  white-space: nowrap;
  color: grey;
}

.nick {
  white-space: nowrap;
  text-align: right;
}

.nav-buffer-normal{
  padding-left: 1em;
}
